mixin deviceBlock(device={})
  .deviceBlock
    a(href=routes.deviceDetail(device.id))
      .deviceBlock__info
        h4.deviceBlock__title #{device.title}
        h5.deviceBlock__createdAt #{device.createdAt}