mixin deviceBlock(device={})
  .deviceBlock
    a(href=routes.deviceDetail(device.id))
      .deviceBlock__thumnail
      .deviceBlock__detail
        .deviceBlock__info
          h4.deviceBlock__title #{device.title}
          .deviceBlock__subInfo
            h5.deviceBlock__createdAt #{device.createdAt}