extends layouts/main
include mixins/deviceBlock

block content
  if loggedUser
    .home-devices
      each device in devices
        +deviceBlock({
          id:device.id,
          title:device.title,
          createdAt: device.createdAt,
        })