extends layouts/main

block content
  h2 socket 이용한 DHT11(온도:습도) 모니터링 서비스
  .msg
    ul
      li.temp Temparature: 0
      li.hum Huminity: 0
  .Contorler
    .led
      h2 socket 통신 방식(LED제어)
      button#jsLedOn(name="1") LED ON
      button#jsLedOff(name="0") LED OFF
    #jsLedStatus LED STATUS : LED OFF