.form-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  width: 100%;
  .editDevice__title {
    font-family: "Cinzel Decorative", cursive;
    font-weight: 700;
    font-size: 30px;
    opacity: 0.6;
    margin-bottom: 30px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
    img {
      margin-bottom: 10px;
    }
    input:not([type="file"]),
    textarea,
    .fileUpload {
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      border: none;
      border-radius: 7px;
      background-color: white;
      resize: none;
      padding: 10px 5px;
      margin: 15px 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      label {
        font-weight: 300;
        margin-right: 10px;
      }
    }
    input[type="submit"] {
      background-color: #3498db;
      box-shadow: $buttonShadow;
      color: white;
      outline: none;
      cursor: pointer;
      &:active {
        box-shadow: inset -10px 4px 5px #3498db;
      }
    }
  }
  a {
    width: 100%;
    max-width: 320px;
  }
  .delete-btn {
    background-color: #ea232c;
  }
}
