header {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  font-size: 30px;
  position: fixed;
  width: 100%;
  background-color: $skyBlue;
  .header__wrapper {
    padding: 15px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__column {
      i {
        margin-right: 15px;
      }
      a {
        color: white;
      }
      ul {
        display: flex;
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}
