.home {
  height: 70vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  padding-top: 100px;
  .contorler {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    .fan {
      display: flex;
      align-items: center;
    }
    #jsFanStatus {
      font-size: 50px;
      opacity: 0.7;
      width: 450px;
      display: flex;
      align-items: center;
    }
  }
  .msg {
    ul {
      font-size: 50px;
      opacity: 0.7;
      width: 450px;
      li {
        margin-bottom: 30px;
      }
    }
  }
  #clock-container {
    #jsClock {
      font-size: 50px;
      opacity: 0.7;
      width: 450px;
      display: flex;
      align-items: center;
      line-height: 1.5;
    }
  }
}
